* {
  margin: 0;
}

body {
  font-family: 'Gilroy';
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Extrabold'), url('./fonts/Gilroy-Extrabold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Medium'), url('./fonts/Gilroy-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
